* {
  box-sizing: border-box;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'PT Sans', sans-serif;

}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 50px 75px 100px;

 /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

}

h4{
  color: black;
  align-items: center;
  text-align: center;
  padding: 10px;
}

h1{
  text-align: center;
  padding: 40px;
}
.App-link {
  color: #61dafb;
}


.ul-no-bullets {
  list-style-type: none;
}